@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text: var(--color-foreground);
  --color-background: var(--geist-background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-muted: var(--color-muted);
  --color-border: var(--color-border);
  --color-button: var(--color-button);
}

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-text: var(--color-foreground);
  --color-button: #171717;
  --color-primary: #1e40af;
  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
  --color-muted: #6b7280;
  --color-border: #d1d5db;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-text: var(--color-foreground);
  --color-button: #1d1f22;
  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
  --color-accent: #fbbf24;
  --color-muted: #9ca3af;
  --color-border: #374151;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-background {
  background-color: var(--color-background);
}

.text-text {
  color: var(--color-text);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.text-muted {
  color: var(--color-muted);
}

.border {
  border-color: var(--color-border);
}

.bg-button {
  background-color: var(--color-button);
}

.dark .bg-background {
  background-color: var(--color-background);
}

.dark .text-text {
  color: var(--color-text);
}

.dark .text-primary {
  color: var(--color-primary);
}

.dark .text-secondary {
  color: var(--color-secondary);
}

.dark .text-accent {
  color: var(--color-accent);
}

.dark .text-muted {
  color: var(--color-muted);
}

.dark .border {
  border-color: var(--color-border);
}

.dark .bg-button {
  background-color: var(--color-button);
}

/* Shine Animation */
@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
}

/* Star Movement Animations */
@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

.animate-star-movement-bottom {
  animation: star-movement-bottom linear infinite alternate;
}

.animate-star-movement-top {
  animation: star-movement-top linear infinite alternate;
}
